{
  "env": {
    "development": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "useBuiltIns": "entry"
          }
        }],
        "@zeit/next-typescript/babel"
        
      ],
      "plugins": [
        [
          "emotion", { "inline": true }
        ]
      ]
    },
    "production": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "useBuiltIns": "entry"
          }
        }],
        "@zeit/next-typescript/babel"
      ],
      "plugins": [
        [
          "emotion", { "inline": true }
        ]
      ]
    },
    "test": {
    }
  }
}